@import url('variables.css');


.apply-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--black);
    padding: auto 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.apply-card .apply-job-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.apply-card .apply-job-buttons a {
    border: solid 1px var(--primary-color);
    padding: 0.5rem 1rem;
    color: var(--primary-color);

}

.apply-card .apply-job-buttons .apply-delete-btn form .delete-btn {
    color: var(--white);
    background-color: var(--red);
    border-color: var(--red);
    padding: 0.5rem 1rem;
    font-family: var(--primary-color);
    border: solid 1px var(--red);
    cursor: pointer;
}

/* Media query  */
@media screen and (max-width: 1000px) {
    .singlejob-container {
        width: 50%;
    }

    .singlejob-container .singlejob-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .apply-card {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding-bottom: 1rem;
    }
}