{% block styles %}
    <!-- Link specific CSS styles for the card page -->
    <link rel="stylesheet" href="../static/css/apply-card.css">
{% endblock %}
<div class="apply-card">
    {% if current_user.id != app.user_id %}
    <div class="applicant-name">
        <a href="{{ url_for('user.single_user', user_id=app.user_id) }}">{{ app.firstname }}  {{ app.lastname }}</a>
    </div>
    {% endif %}
    <p class="apply-job-title">{{ app.title.capitalize() }} Role</p>
    <div class="apply-job-buttons">
        <a href="{{ url_for('applications.single_app', app_id=app.id) }}">Details</a>
        <a href="" class="apply-delete">Delete</a>
    </div>
</div>