<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/base.css">
    {% block styles %}{% endblock %}
    <title>JobCircus - Welcome</title>
</head>
<body>
    <header>
        <nav>
            <div class="brand">
                <a href=""><div class="logo"><span>JC</span>JOBCIRCUS</div></a>
            </div>
            <div class="user-section">
                {% if current_user.is_authenticated %}
                <div class="user-name">
                    <a href=""><div class="user-img"><span>{{ current_user.username[0] }}</span>{{ current_user.username }}</div></a>
                </div>
                <div class="login-logout">
                    <a href="{{ url_for('user.logout') }}">Logout</a>
                </div>
                {% else %}
                <div class="user-name">
                    <a href="{{ url_for('user.login') }}">Login</a>
                </div>
                <div class="login-logout">
                    <a href="{{ url_for('user.register') }}">Get Started</a>
                </div>
                {% endif %}
                
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Copyright&copy;2023 JobCircus. All rights reserved.</p>
    </footer>
</body>
</html>