{% block styles %}
    <!-- Link specific CSS styles for the card page -->
    <link rel="stylesheet" href="../static/css/card.css">
    {% endblock %}
<div class="job-card">
    <div class="card-header">
        <p>{{ card.username[0:2].upper() }}</p>
        <span>{{ card.created_at }}</span>
    </div>
    <div class="card-body">
        <h3 class="card-title">{{ card.title }}</h3>
        <p class="card-description">{{ card.description }}</p>
    </div>
    <div class="card-view-buttons">
        <button class="view-btn">View</button>
        <button class="apply-btn">Apply</button>
    </div>
    {% if current_user and current_user.id == card.user_id %}
    <div class="card-delete-btn">
        <button class="edit-btn">Update</button>
        <button class="delete-btn">Delete</button>
    </div>
    {% endif %}
</div>