{% extends "base.html" %}
{% block styles %}
    <!-- Link specific CSS styles for the login page -->
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="home-container">
        <div class="hero-section">
            <div class="hero-right">
                <h2>GET THE <br>RIGHT JOB<br> YOU <span>DESERVE</span></h2>
                <form action="" method="get">
                    <input type="text" id="search" name="search" placeholder="Search Job">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="hero-left">
                <img src="../static/image/hero image.jpg" alt="hero-image">
            </div>
        </div>
        <div class="post-hero-section">
            <p>THOUSANDS OF JOB SEEKERS GETTING JOBS DAILY</p>
        </div>
        <div class="job-type-section">
            <div class="part-time job-type">
                <div class="job-type-circle"></div>
                <h3>PARTIME JOBS</h3>
                <p>Looking for a part time job? Discover part-time roles that fit your schedule, skills and aspirations.</p>
                <button>View All</button>
            </div>
            <div class="fulltime job-type">
                <div class="job-type-circle"></div>
                <h3>FULLTIME JOBS</h3>
                <p>Looking for a full time job? Explore exciting opportunities that align with your skills and ambitions.</p>
                <button>View All</button>
            </div>
        </div>
        <div class="post-hero-section">
            <p></p>
        </div>
        <div class="job-listing-section">
            <h2>JOB LISTING</h2>
            <div class="job-listing">
                <!-- Include the card component -->
                {% for card in cards %}
                {% include 'card.html' %}
                {% endfor %}
            </div>
            <div class="view-all-job">
                <button>View all Jobs</button>
            </div>
        </div>
        <!-- Add post button  -->
        {% if current_user and current_user.role == 'Employer' %}
        <div class="add-post-home-btn">
            <button>+</button>
        </div>
        {% endif %}
    </div>
{% endblock %}